/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/information-database
/oauth-database
/uzmobile-database
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
information-database
uzmobile-database
oauth-database
dashboard-api-database
gifts-database
levels-database
/dashboard-api-database
users-database
activity-log-database
users-gifts-database
levels-users-database
transactions-database
rabbitmq
charges-database
docker
questionnaire-db
charges-premium-database
